<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- <link rel="stylesheet" href="assets/css/cart.css"> -->
    <link rel="stylesheet" href="assets/css/checkout.css">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,400;0,500;1,200&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<body>
    <script>
    //     window.onload = function (){
    //       login()
    //   }
    // sessionStorage.clear()
      </script>
<div class="container">
    <div class="header">
        <div class="header-top">
            <div class="logo-header">
                <img src="assets/images/logo3.png" alt="logo">
            </div>
            <div class="row-header">
                <form class="search-form">
                    <input type="text" class="search-input" placeholder="Tìm kiếm">
                    <button type="button" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="title-rigth">
                <li><a href="#" class="">
                    <i class="fa-solid fa-phone"></i>
                    <span>0880 2308</span>
                </a></li>
            </div>
            <div class="title-rigth">
                <li><a href="#" class="">
                    <i class="fa-solid fa-headphones"></i>
                    <span>Tư vấn miễn phí</span>   
                </a></li>
            </div>
            <div class="title-rigth">
                <li><a href="#" class="">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Tìm kiếm cửa hàng</span>   
                </a></li>
            </div>
            
        </div>
        <div class="menu-header">
            <div class="row-menu-header">
                <div class="menu-left">
                    <li><a href="./index.html"><i class="fa-solid fa-house"></i>Trang chủ</a></li>
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Bài viết</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </div>
                <div class="content-header">
                    <!-- <div class="taikhoan-header"> -->
                        <li><a href="./login.html" class="nav-link">
                            <i class="fa-solid fa-user"></i>
                            <span>Tài khoản</span>
                        </a></li>
                    <!-- </div> -->
                    <!-- <div class="taikhoan-header"> -->
                        <li><a href="./cart.html" class="nav-link">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <span>Giỏ hàng</span></a></li>
                    <!-- </div> -->
                </div>
            </div>
            
        </div>
    </div>
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active">Đăng Ký</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Cart -->

    <div class="container">
        <div class="box">
            <div class="login-box">
                <div class="login-auth__login">
                    <div class="login-title">ĐĂNG KÝ</div>
                </div>
                <form action="" class="login-form">
                    <input id="name" type="text" placeholder="Tên tài khoản" /> <br />
                    <input id="email" type="text" placeholder="Email " /> <br />
                    <input id="phone" type="text" placeholder="Số điện thoại " /> <br />
                    <input id="pass" type="password" placeholder="Mật khẩu " /> <br />
                    <!-- <input id="password" type="password" placeholder="Nhập lại mật khẩu" /> <br /> -->
                    <div class="login-button">
                        <input class="bnt-cart-right" type="button" value="Đăng Ký" onclick="register()">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <!-- Begin Footer Static Middle Area -->
        <div class="footer-static-middle">
            <div class="containerr">
                <div class="footer-logo-wrap pt-50 pb-35">
                    <div class="row">
                        <!-- Begin Footer Logo Area -->
                        <div class="col-lg-4 col-md-6">
                            <div class="footer-logo">
                                <img src="assets/images/logo5.png" alt="Footer Logo">
                            </div>
                            <ul class="des">
                                <li>
                                    Địa chỉ: 
                                    Công viên phần mềm Quang Trung, Quận 12, TP Hồ Chí Minh
                                </li>
                                <li>
                                    Số điện thoại:(+123) 123 321 345
                                </li>
                                <li>
                                    Email: jodd23855@gmail.com
                                </li>
                            </ul>
                        </div>
                        <!-- Footer Logo Area End Here -->
                        <!-- Begin Footer Block Area -->
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-block">
                                <h3 class="footer-block-title">Thông tin</h3>
                                <ul>
                                    <li><a href="#">Giới thiệu</a></li>
                                    <li><a href="#">Liên hệ công ty</a></li>
                                    <li><a href="#">Liên hệ hợp tác</a></li>
                                    <li><a href="#">Gia nhập TOTODAY</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Block Area End Here -->
                        <!-- Begin Footer Block Area -->
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="footer-block">
                                <h3 class="footer-block-title">Chính sách</h3>
                                <ul>
                                    <li><a href="#">Chính sách thành viên</a></li>
                                    <li><a href="#">Chính sách hoàn tiền</a></li>
                                    <li><a href="#">Chính sách sản phẩm</a></li>
                                    <li><a href="#">Chính sách kiểm hàng</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Block Area End Here -->
                        <!-- Begin Footer Block Area -->
                        <div class="col-lg-2">
                            <div class="footer-block">
                                <h3 class="footer-block-title">Chính sách</h3>
                                <ul>
                                    <li><a href="#">Chính sách thành viên</a></li>
                                    <li><a href="#">Chính sách hoàn tiền</a></li>
                                    <li><a href="#">Chính sách sản phẩm</a></li>
                                    <li><a href="#">Chính sách kiểm hàng</a></li>
                                </ul>
 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-static-bottom pt-55 pb-55">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Begin Footer Links Area -->
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">Mua sắm trực tuyến</a></li>
                                <li><a href="#">Khuyến mãi</a></li>
                                <li><a href="#">Đơn hàng của tôi</a></li>
                                <li><a href="#">Giúp đỡ</a></li>
                                <li><a href="#">Dịch vụ khách hàng</a></li>
                                <li><a href="#">Ủng hộ</a></li>
                                <li><a href="#">Phổ biến nhất</a></li>
                                <li><a href="#">Điểm đến mới</a></li>
                                <li><a href="#">Sản phẩm đặc biệt</a></li>
                                <li><a href="#">Nhà sản xuất</a></li>
                                <li><a href="#">Cửa hàng của chúng tô</a></li>
                                <li><a href="#">Vận chuyển</a></li>
                                <li><a href="#">Thanh toán</a></li>
                                <li><a href="#">Bảo hành</a></li>
                                <li><a href="#">Hoàn tiền</a></li>
                                <li><a href="#">Chi trả</a></li>
                                <li><a href="#">Giảm giá</a></li>
                                <li><a href="#">Hoàn tiền trả hàng</a></li>
                                <li><a href="#">Chính sách vận chuyển</a></li>
                            </ul>
                        </div>
                        <!-- Footer Links Area End Here -->
                        <!-- Begin Footer Payment Area -->
                        <div class="copyright text-center">
                            <a href="#">
                                <img src="./view/layout/images/payment/1.png" alt>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Static Bottom Area End Here -->
    </div>
</div>
<script src="./index.js"></script>
</body>
</html>